{%extends 'base.html'%}

{%block 'conteudo'%}
<div style="text-align: center;">
    <h3>Engenharia de Software</h3>
</div>

<div class="container" style="padding: 10px;">
    <table>
        <tr>
            <td>
                <div class="container" style="background-color: lightGray; padding: 10px;">
                    O curso: <p>
                    A proposta do curso de Engenharia de Software é formar profissionais com sólido conhecimento nas
                    práticas da engenharia para projetar e desenvolver softwares para qualquer finalidade, tais como:
                    softwares de gestão, inteligência artificial, aplicativos para smartphones, sistemas embarcados e
                    jogos
                    digitais.
                    <p>
                        O incentivo a inovação e ao empreendedorismo estão presentes desde o primeiro período do curso,
                        onde
                        os acadêmicos são instigados a pensar e desenvolvedor projetos inovadores e com grande potencial
                        de
                        mercado.
                    <p>
                        O corpo docente é formado por doutores, mestres e especialistas que, além da formação acadêmica
                        de
                        alto nível, atuam no mercado regional, o que possibilita trazer para a sala de aula a
                        experiência da
                        realidade vivenciada no ambiente empresarial.
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="container">
                    <b>Duração:</b> 4 anos <p>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="container">
                    <b>Carga horária:</b> 3.200 horas <p>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="container">
                    <b>Período:</b> Noturno <p>
                </div>
            </td>
        </tr>
    </table>
</div>
{%endblock%}
