{%extends 'base.html'%}
    <title>{%block 'titulo'%}Oitavo Periodo{%endblock%}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
</head>
</head>
<body>
{%block 'conteudo'%}

        <th>
            Horas
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
          EGS19801 - Inteligência Artificial
        </td>
        <td>
            Natureza - OBRIGATÓRIA
        </td>
        <td>
            Teórica
        </td>
        <td>
            80
        </td>
    </tr>
    <tr>
        <td>
            EGS19802 - Big Data
        </td>
        <td>
            Natureza - OBRIGATÓRIA
        </td>
        <td>
            Teórica
        </td>
        <td>
            40
        </td>
    </tr>
    <tr>
        <td>
            EGS19803 - Inovações Tecnológicas
        </td>
        <td>
            Natureza - OBRIGATÓRIA
        </td>
        <td>
            Teórica
        </td>
        <td>
            40
        </td>
    </tr>
    <tr>
        <td>
            EGS19804 - Internet das Coisas IoT
        </td>
        <td>
            Natureza - OBRIGATÓRIA
        </td>
        <td>
            Teórica
        </td>
        <td>
            80
        </td>
    </tr>
    <tr>
        <td>
            EGS19805 - Projeto de Desenvolvimento Profissional II

        </td>
        <td>
            Natureza - OBRIGATÓRIA
        </td>
        <td>
            Teórica
        </td>
        <td>
            40
        </td>
    </tr>

    <tr>
        <td>
            EGS19806 - Projeto de Mineração de Dados

        </td>
        <td>
            Natureza - OBRIGATÓRIA
        </td>
        <td>
            Teórica
        </td>
        <td>
            120
        </td>
    </tr>

    </tbody>
</table>
{%endblock%}
</body>
</html>