{%extends 'base.html'%}
    <title>{%block 'titulo'%}Terceiro Periodo...{%endblock%}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
</head>
</head>
<body>
{%block 'conteudo'%}
<table class="container">
    <thead>
    <tr>
        <th>
            Disciplina
        </th>
        <th>
            Categoria
        </th>
        <th>
            Atividade Pedagógica
        </th>
        <th>
            Horas
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
          EGS19301 - Filosofia - EAD
        </td>
        <td>
            Natureza - EAD - Ensino a distância
        </td>
        <td>
            Teórica
        </td>
        <td>
            60
        </td>
    </tr>
    <tr>
        <td>
            EGS19302 - Matemática Discreta
        </td>
        <td>
            Natureza - OBRIGATÓRIA
        </td>
        <td>
            Teórica
        </td>
        <td>
            40
        </td>
    </tr>
    <tr>
        <td>
            EGS19303 - Engenharia de Software: Modelagem de Software
        </td>
        <td>
            Natureza - OBRIGATÓRIA
        </td>
        <td>
            Teórica
        </td>
        <td>
            80
        </td>
    </tr>
    <tr>
        <td>
            EGS19304 - Desenvolvimento Orientado a Objetos
        </td>
        <td>
            Natureza - OBRIGATÓRIA
        </td>
        <td>
            Teórica
        </td>
        <td>
            80
        </td>
    </tr>
    <tr>
        <td>
            EGS19305 - Projeto Orientado a Objetos

        </td>
        <td>
            Natureza - OBRIGATÓRIA
        </td>
        <td>
            Teórica
        </td>
        <td>
            100
        </td>
    </tr>

    </tbody>
</table>
{%endblock%}
</body>
</html>