{%extends 'base.html'%}

{%block 'conteudo'%}
<div style="text-align: center;">
    <h3>Engenharia Elétrica</h3>
</div>

<div class="container" style="padding: 12px;">
    <table>
        <tr>
            <td>
                <div class="container" style="background-color: MediumSeaGreen; padding: 10px;">
                    O curso: <p>
                    No curso de Engenharia Elétrica você vai aprender como produzir, transmitir, transportar e
                    distribuir energia elétrica, desenvolvendo conhecimentos e aplicações com eficiência no uso desta
                    commodity, essencial para a vida da humanidade. O curso de Engenharia Elétrica da FAG também
                    contempla outras áreas como automação de sistemas, ciências ambientais, computação, consultoria em
                    indústrias e muito mais. Para as aulas práticas específicas a Instituição oferece laboratórios
                    modernos e equipados e ainda o Centro de Pesquisa em Energias Renováveis (Energia Eólica).

                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="container">
                    <b>Duração:</b> 5 anos <p>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="container">
                    <b>Carga horária:</b> 4.140 horas <p>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="container">
                    <b>Período:</b> Noturno <p>
                </div>
            </td>
        </tr>
    </table>
</div>
{%endblock%}
