{%extends 'base.html'%}

{%block 'conteudo'%}
<div style="text-align: center;">
    <h3>Engenharia Mecânica</h3>
</div>

<div class="container" style="padding: 12px;">
    <table>
        <tr>
            <td>
                <div class="container" style="background-color: MediumSeaGreen; padding: 10px;">
                    O curso: <p>
                    O curso de Engenharia Mecânica do Centro FAG, permite ao futuro acadêmico adentrar o universo das
                    máquinas! A atuação do engenheiro mecânico ocorre principalmente na solução de problemas nos
                    segmentos de projeto, execução e análise de elementos de máquinas e seus sistemas estruturais. Aqui
                    no Centro FAG, você vai encontrar um curso que une uma forte base teórica, com a formação de
                    competências profissionais diversas e específicas para atuar com projeto, fabricação e manutenção.
                    E, para isso, entendemos que a sala de aula não basta! É preciso vivenciar experiências práticas!
                    Aqui nossos alunos são constantemente desafiados com projetos complexos e de solução aberta, porque
                    a vida não tem respostas nem soluções prévias. Alinhado com as Diretrizes Curriculares Nacionais
                    juntamente com as definições previstas pelo Conselho Federal de Engenharia ? CONFEA, o curso de
                    engenharia mecânica proporciona uma formação adequada com as responsabilidades e atribuições
                    previstas em lei para o profissional de Engenheira Mecânica.
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="container">
                    <b>Duração:</b> 5 anos <p>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="container">
                    <b>Carga horária:</b> 4.000 horas <p>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="container">
                    <b>Período:</b> Noturno <p>
                </div>
            </td>
        </tr>
    </table>
</div>
{%endblock%}
