{%extends 'base.html'%}
    <title>{%block 'titulo'%}Quinto Periodo{%endblock%}</title>
<body>
{%block 'conteudo'%}
<table class="container">
    <thead>
    <tr>
        <th>
            Disciplina
        </th>
        <th>
            Categoria
        </th>
        <th>
            Atividade Pedagógica
        </th>
        <th>
            Horas
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
          EGS19501 - Sustentabilidade - EAD
        </td>
        <td>
            Natureza - EAD - Ensino a distância
        </td>
        <td>
            Teórica
        </td>
        <td>
            60
        </td>
    </tr>
    <tr>
        <td>
            EGS19506 - Estágio Supervisionado I
        </td>
        <td>
            Natureza - ESTÁGIO SUPERVISIONADO
        </td>
        <td>
            Teórica
        </td>
        <td>
            40
        </td>
    </tr>
    <tr>
        <td>
            EGS19502 - Engenharia de Software: Análise e Projeto de Software
        </td>
        <td>
            Natureza - OBRIGATÓRIA
        </td>
        <td>
            Teórica
        </td>
        <td>
            80
        </td>
    </tr>
    <tr>
        <td>
            EGS19503 - Banco de Dados
        </td>
        <td>
            Natureza - OBRIGATÓRIA
        </td>
        <td>
            Teórica
        </td>
        <td>
            80
        </td>
    </tr>
    <tr>
        <td>
            EGS19504 - Probabilidade e Estatística

        </td>
        <td>
            Natureza - OBRIGATÓRIA
        </td>
        <td>
            Teórica
        </td>
        <td>
            40
        </td>
    </tr>

    <tr>
        <td>
            EGS19505 - Projeto de Programação com Banco de Dados

        </td>
        <td>
            Natureza - OBRIGATÓRIA
        </td>
        <td>
            Teórica
        </td>
        <td>
            100
        </td>
    </tr>

    </tbody>
</table>
{%endblock%}
</body>
</html>