{%extends 'base.html'%}
    <title>{%block 'titulo'%}Segundo Periodo{%endblock%}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
</head>
<body>
{%block 'conteudo'%}
<table class="container">
    <thead>
    <tr>
        <th>
            Disciplina
        </th>
        <th>
            Categoria
        </th>
        <th>
            Atividade Pedagógica
        </th>
        <th>
            Horas
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
          EGS19201 - Metodologia - EAD
        </td>
        <td>
            Natureza - EAD - Ensino a distância
        </td>
        <td>
            Teórica
        </td>
        <td>
            60
        </td>
    </tr>
    <tr>
        <td>
            EGS19202 - Cálculo Diferencial e Integral
        </td>
        <td>
            Natureza - OBRIGATÓRIA
        </td>
        <td>
            Teórica
        </td>
        <td>
            40
        </td>
    </tr>
    <tr>
        <td>
            EGS19203 - Organização e Redes de Computadores
        </td>
        <td>
            Natureza - OBRIGATÓRIA
        </td>
        <td>
            Teórica
        </td>
        <td>
            40
        </td>
    </tr>
    <tr>
        <td>
            EGS19204 - Engenharia de Software: Processos e Requisitos
        </td>
        <td>
            Natureza - OBRIGATÓRIA
        </td>
        <td>
            Teórica
        </td>
        <td>
            80
        </td>
    </tr>
    <tr>
        <td>
            EGS19205 - Estrutura de Dados

        </td>
        <td>
            Natureza - OBRIGATÓRIA
        </td>
        <td>
            Teórica
        </td>
        <td>
            80
        </td>
    </tr>

    <tr>
        <td>
         EGS19206  - Linguagem de Programação

        </td>
        <td>
            Natureza - OBRIGATÓRIA
        </td>
        <td>
            Teórica
        </td>
        <td>
            80
        </td>
    </tr>

    </tbody>
</table>
{%endblock%}
</body>
</html>