{%extends 'base.html'%}

{%block 'conteudo'%}


<div style="text-align: center;">
    <h3>Cursos Fag</h3>
</div>

<div class="container-flex">
    <table id="menu-table">
        <tr>
            <td>
                <a href="http://localhost:8000/engenharia_software">Engenharia de Software</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="http://localhost:8000/engenharia_civil">Engenharia Civil</a>
            </td>
            <td>
                <a href="http://localhost:8000/engenharia_eletrica">Engenharia Elétrica</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="http://localhost:8000/engenharia_mecanica">Engenharia Mecânica</a>
            </td>
            <td>
                <a href="http://localhost:8000/engenharia_mecatronica">Engenharia Mecatrônica</a>
            </td>
        </tr>
    </table>
</div>

{%endblock%}