{%extends 'base.html'%}

{%block 'conteudo'%}
<div style="text-align: center;">
    <h3>Engenharia Civil</h3>
</div>

<div class="container" style="padding: 12px;">
    <table>
        <tr>
            <td>
                <div class="container" style="background-color: MediumSeaGreen; padding: 10px;">
                    O curso: <p>
                    O curso de Engenharia Civil prepara o estudante para trabalhar em equipes multidisciplinares no
                    segmento da construção civil e realizar o planejamento, a análise, o projeto, a construção, a
                    manutenção e a operação de sistemas de engenharia. A graduação da Centro FAG prioriza as
                    necessidades atuais da sociedade, oferecendo uma formação cidadã que prepara profissionais
                    humanistas, técnicos e agentes de transformação, formando profissionais éticos com responsabilidade
                    profissional, considerando o impacto das atividades no contexto social e ambiental, bem como a
                    viabilidade econômica destes.
                    <p>
                        Com 18 anos de experiência, o curso de Engenharia Civil do Centro Universitário Assis Gurgacz já
                        formou mais de 1 mil profissionais.

                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="container">
                    <b>Duração:</b> 5 anos <p>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="container">
                    <b>Carga horária:</b> 3.880 horas <p>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="container">
                    <b>Período:</b> Noturno <p>
                </div>
            </td>
        </tr>
    </table>
</div>
{%endblock%}
