{%extends 'base.html'%}
    <title>{%block 'titulo'%}Sétimo Periodo{%endblock%}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
</head>
</head>
<body>
{%block 'conteudo'%}
<table class="container">
    <thead>
    <tr>
        <th>
            Disciplina
        </th>
        <th>
            Categoria
        </th>
        <th>
            Atividade Pedagógica
        </th>
        <th>
            Horas
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
          EGS19701 - Desenvolvimento para Jogos Digtais
        </td>
        <td>
            Natureza - OBRIGATÓRIA
        </td>
        <td>
            Teórica
        </td>
        <td>
            80
        </td>
    </tr>
    <tr>
        <td>
            EGS19702 - Desenvolvimento para Dispositivos Móveis
        </td>
        <td>
            Natureza - OBRIGATÓRIA
        </td>
        <td>
            Teórica
        </td>
        <td>
            80
        </td>
    </tr>
    <tr>
        <td>
            EGS19703 - Engenharia de Software: Qualidade de Software (Gestão de Configura e Mudanças)
        </td>
        <td>
            Natureza - OBRIGATÓRIA
        </td>
        <td>
            Teórica
        </td>
        <td>
            80
        </td>
    </tr>
    <tr>
        <td>
            EGS19704 - Projeto de Desenvolvimento Profissional I
        </td>
        <td>
            Natureza - OBRIGATÓRIA
        </td>
        <td>
            Teórica
        </td>
        <td>
            40
        </td>
    </tr>
    <tr>
        <td>
            EGS19705 - Projeto de Integração de Software

        </td>
        <td>
            Natureza - OBRIGATÓRIA
        </td>
        <td>
            Teórica
        </td>
        <td>
            120
        </td>
    </tr>

    </tbody>
</table>
{%endblock%}
</body>
</html>