{%extends 'base.html'%}
    <title>{%block 'titulo'%}Quarto Periodo{%endblock%}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
</head>
</head>
<body>
{%block 'conteudo'%}
<table class="container">
    <thead>
    <tr>
        <th>
            Disciplina
        </th>
        <th>
            Categoria
        </th>
        <th>
            Atividade Pedagógica
        </th>
        <th>
            Horas
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
<tr>
        <td>
         EGS19401 - Sociologia - EAD

        </td>
        <td>
            Natureza - EAD - Ensino a distância
        </td>
        <td>
            Teórica
        </td>
        <td>
            60
        </td>
    </tr>

     <tr>
        <td>
         EGS19402 - Pesquisa Operacional

        </td>
        <td>
            Natureza - Obrigatória
        </td>
        <td>
            Teórica
        </td>
        <td>
            40
        </td>
    </tr>

    <tr>
        <td>
         EGS19403 - Interface Homem Computador

        </td>
        <td>
            Natureza - Obrigatória
        </td>
        <td>
            Teórica
        </td>
        <td>
            40
        </td>
    </tr>

      <tr>
        <td>
         EGS19405 - Engenharia de Software: Métodos de Desenvolvimento

        </td>
        <td>
            Natureza - Obrigatória
        </td>
        <td>
            Teórica
        </td>
        <td>
            80
        </td>
    </tr>

     <tr>
        <td>
         EGS19404 - Engenharia Econômica

        </td>
        <td>
            Natureza - Obrigatória
        </td>
        <td>
            Teórica
        </td>
        <td>
            40
        </td>
    </tr>

      <tr>
        <td>
         EGS19406 - Projeto de Design de Software

        </td>
        <td>
            Natureza - Obrigatória
        </td>
        <td>
            Teórica
        </td>
        <td>
            100
        </td>
    </tr>
    </tbody>
</table>
{%endblock%}
</body>
</html>
