{%extends 'base.html'%}


{%block conteudo%}
 <tr>
        <th>
            <center>
                TUTORIAL DE COMO INSTALAR E CONFIGURAR O PYTHON E DJANGO
            </center>

        </th>

    </tr>

<div style="text-align: center;">
    <h3>Acesse os menus no canto superior direito da tela para acessar as paginas e iniciar o processo</h3>
</div>

<div class="container" style="padding: 12px;">
    <table>
        <tr>
            <td>
                <div class="container" style="padding: 12px;">
                          Comece pela pagina INSTALAÇÃO E por fim AMBIENTE
                </div>
            </td>
        </tr>
        <tr>

  </table>
</div>
{%endblock%}