{%extends 'base.html'%}

{%load static%}


{%block conteudo%}
<p>

   <font size = "6"> Instalando o python e PyCharm </font> <br/>
    Acesse os seguintes sites:
    www.python.com
    www.pycharm.com
    www.django.com
</p>


<body>
<table class="container">
    <thead>
    <tr>
        <th>
            <center>
                INSTALE O PYTHON EM SUA MÁQUINA
                <p> <img src="{% static 'fig1.png'%}" style="width: 100%"> </p>
                <p> <img src="{% static 'fig2.png'%}" style="width: 100%"> </p>

            </center>

        </th>

    </tr>
    </thead>

</table>
</body>



<div style="text-align: center;">
    <h3>Instale o Pycharm seguindo os passos abaixo</h3>
</div>

<div class="container" style="padding: 12px;">
    <table>
        <tr>
            <td>
                <div >
                     <p>
                    <p> <img src="{% static '1.png'%}" style="width: 100%"> </p>
                    <p> <img src="{% static '2.png'%}" style="width: 100%"> </p>
                    <p> <img src="{% static '3.png'%}" style="width: 100%"> </p>
                    <p> <img src="{% static '4.png'%}" style="width: 100%"> </p>
                    <p> <img src="{% static '5.png'%}" style="width: 100%"> </p>
                    <p> <img src="{% static '6.png'%}" style="width: 100%"> </p>
                    <p>


                </div>
            </td>
        </tr>



    </table>
</div>



{%endblock%}